<template>
  <v-app>
      <div class="product">
        <h1>Website Under Maintenance</h1>
      </div>
  </v-app>
</template>

<script>
import Nav from '../components/Nav';

export default {
    name: 'ProductView',

    components: {
        Nav
    }
}

</script>
