<template>
    <v-container class="mt-12">
        <div class="mb-12">
            <v-text class="text-h4">
                Virtual Services 
            </v-text>
        </div>
        <v-row class="mb-16">
            <v-col cols="12" md="6" class="py-0">
                <v-row>
                    <v-col cols="6" md="6">
                        <v-card class="pa-6 rounded-xl" height="100%" color="#C17F00">
                            <v-icon size="40" color="white">mdi-github</v-icon>
                            <v-card-title class="pa-0 mt-2 white--text">Individual Freedom</v-card-title> 
                            <v-spacer></v-spacer>
                             <v-card-subtitle class="pa-0 white--text">
                                  Build you own ideas 
                             </v-card-subtitle>

                      </v-card>
                    </v-col>
                    <v-col cols="6" md="6">
                        <v-sheet outlined color="orange" class="rounded-xl">
                            <v-card class="pa-6 rounded-xl" height="100%" flat outlined>
                                <v-icon size="40" color="orange">mdi-github</v-icon>
                                <v-card-title class="pa-0 mt-2 orange--text">Low Cost No Fees</v-card-title> 
                                <v-spacer></v-spacer>
                                 <v-card-subtitle class="pa-0 orange--text">
                                      For Membership
                                 </v-card-subtitle>

                            </v-card>
                        </v-sheet>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-card class="pa-6 rounded-xl" height="100%" color="#242121">
                            <v-icon size="40" color="white">mdi-github</v-icon>
                            <v-card-title class="pa-0 mt-2 orange--text">User Satisfaction</v-card-title> 
                            <v-spacer></v-spacer>
                             <v-card-subtitle class="pa-0 white--text">
                                  Based on Feedback and Survey
                             </v-card-subtitle>

                      </v-card>
                    </v-col>
                </v-row>
            </v-col>
                <v-col cols="12" md="6" class="pa-0 pl-4 pr-4" no-gutter>
                        <v-card height="47vh" class="pa-8 rounded-xl pt-12 res-t" color="#242121">
                             <v-img                                
                                :src="require('../assets/roadmap.png')"                                
                                contain                                
                                height="80"
                            />
                            <v-card-title class="pa-0 mt-2 white--text">Roadmap Guideline</v-card-title> 
                            <v-spacer></v-spacer>
                             <v-card-subtitle class="pa-0 white--text">

                                  Visual representation or plan that outlines the key steps, milestones, and objectives for a project.
                             </v-card-subtitle>
                             <v-btn class="rounded-xl mt-10">
                                 View More
                             </v-btn>
                        </v-card>
                </v-col>
            <!-- <v-row class="my-row mb-16"> -->
            <!--     <v-col cols="12" md="12"> -->
            <!--             <v-card height="47vh" class="pa-16 rounded-xl" color="#242121"> -->
            <!--                  <v-img                                 -->
            <!--                     :src="require('../assets/roadmap.png')"                                 -->
            <!--                     contain                                 -->
            <!--                     height="80" -->
            <!--                 /> -->
            <!--                 <v-card-title class="pa-0 mt-2 white--text">Roadmap Guideline</v-card-title>  -->
            <!--                 <v-spacer></v-spacer> -->
            <!--                  <v-card-subtitle class="pa-0 white--text"> -->
            <!--  -->
            <!--                       Visual representation or plan that outlines the key steps, milestones, and objectives for a project. -->
            <!--                  </v-card-subtitle> -->
            <!--                  <v-btn class="rounded-xl mt-10"> -->
            <!--                      View More -->
            <!--                  </v-btn> -->
            <!--             </v-card> -->
            <!--     </v-col> -->
            <!-- </v-row> -->
        </v-row>
    </v-container>
</template>


<script>
</script>

<style>

.my-row {
    margin-left: 1vh;
}

@media (max-width: 600px) {
/* Styles for screens smaller than 600px */
    .my-row {
        margin-top: 2vh;
        margin-right: 1vh;
    }

    .res-t {
        margin-top: 2vh;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
/* Styles for screens between 601px and 960px */
    .my-row {
        margin-top: 2vh;

    }

}

@media (min-width: 961px) {
/* Styles for screens larger than 960px */
}
</style>
